@model PropertyDemo.Service.ViewModel.PropertyViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Property - Edit</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="PropertyId" />
            <input type="hidden" asp-for="UserId" />
            <div class="form-group">
                <label asp-for="PropertyName" class="control-label"></label>
                <input asp-for="PropertyName" class="form-control" />
                <span asp-validation-for="PropertyName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Bedroom" class="control-label"></label>
                <input asp-for="Bedroom" class="form-control" min="1" />
                <span asp-validation-for="Bedroom" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsAvaliable" /> @Html.DisplayNameFor(model => model.IsAvaliable)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="SalePrice" class="control-label"></label>
                <input asp-for="SalePrice" class="form-control" min="1" />
                <span asp-validation-for="SalePrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LeasePrice" class="control-label"></label>
                <input asp-for="LeasePrice" class="form-control" min="1" />
                <span asp-validation-for="LeasePrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Select a property owner</label>
                <select class="form-control" asp-for="OwnerDetailId" asp-items="@ViewBag.SelectListItems">
                    <option value="">---Select a owner---</option>
                </select>
                <span asp-validation-for="OwnerDetailId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <a asp-action="Index">
                    <input type="button" value="Cancel" class="btn btn-dark" />
                </a>
                <input type="submit" value="Update" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
