@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Property Demo</h1>
    <p>
        You need to login before you can access other pages.
    </p>
    <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Click here to register an account</a>
</div>
